@page
@model POC_Leave_Management.Pages.View_Leave_Requests.View_Leave_ReqModel
@{
}

<br />
<h2>Create new leave requests</h2>

@if(Medel.errorMessage>0)
{
<div class='alert alert-warning alert-dismissal fade show' role="alert">
    <strong>@Model.errormessage</strong>
    <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='Close'></button>
</div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sn-3 col-form-label">First Name</label>
        <div class="col-sn-6">
            <input type="text" class="form-control" name="Fname" value="@Model.leaveInfo.Fname" />
        </div>
        <div class="row mb-3">
            <label class="col-sn-3 col-form-label">Last Name</label>
            <div class="col-sn-6">
                <input type="text" class="form-control" name="Lname" value="@Model.leaveInfo.Lname" />
            </div>
            <div class="row mb-3">
                <label class="col-sn-3 col-form-label">Start Date</label>
                <div class="col-sn-6">
                    <input type="date" class="form-control" name="sdate" value="@Model.leaveInfo.Sdate" />
                </div>
                <div class="row mb-3">
                    <label class="col-sn-3 col-form-label">End Date</label>
                    <div class="col-sn-6">
                        <input type="date" class="form-control" name="edate" value="@Model.leaveInfo.Edate" />
                    </div>
                    <div class="row mb-3">
                        <label class="col-sn-3 col-form-label">Reason for leave</label>
                        <div class="col-sn-6">
                            <input type="text" class="form-control" name="RfLeave" value="@Model.leaveInfo.Reason" />
                        </div>
                    </div>

                    @if (Model.successMessage.length>0)
                    {
                        <div class="row mb-3">
                            <div class="col-sm-9">
                                <div class='alert alert-success alert-dismissal fade show' role='alert'>
                                    <strong>@Model.successMessage</strong>
                                    <button type='button' class="btn-close" data-bs-dismiss='alert' aria-label='Close'></button>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row mb-3">
                        <div class="offset-sm-3 col-sm-3 d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="offset-sm-3 d-grid">
                            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                        </div>
                    </div>
</form>
