@page
@model POC_Leave_Management.Pages.View_Leave_Requests.View_Leave_ReqModel
@{
}

<br />
<h2>List of Leave Requests</h2>
<a class='btn btn-primary btn-sm' href='/Requests'</a>
<table class="Request_Leave">
    <thead>
        <tr>
            <th>Request ID</th>
            <th>First Name ID</th>
            <th>Last Name ID</th>
            <th>Start Date ID</th>
            <th>End Date ID</th>
            <th>Reason ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Models.RequestLeave)
        {
        <tr>
            <td>@item.ReqId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.LeaveStart</td>
            <td>@item.LeaveEnd</td>
            <td>@item.Reason</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/View_Leave_Request/Edit?id=@item.ReqId">Edit</a>
                <a class="btn btn-danger btn-sm" href="/View_Leave_Request/Delete?id=@item.ReqId">Delete</a>

            </td>
        </tr>

        }
    </tbody>
</table>
